.pageWrap {
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: medium;
    font-weight: normal;
    background-color: #F5F5F5;
    color: #002244;
}

img {
    height: 330px;
    width: 600px;
    margin-left: 0px;
    padding-bottom: 20px;
    margin-right: auto;
    /* padding-right: 100px; */
}